@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



:root {
  --black: #000000;
  --darkblue: #06327d;
  --blue: #2b70e4;
  --green: #209d5c;
  --yellow: #ffd034;
  --white: #ffffff;
  --lightblue: #cadbf8;
  --lineheight: 1.1667;
  --fontweight: 300;
  --texttrans: uppercase;
  --radius: 10px;
  --font: "Montserrat" , serif ;
}

body {
  color: black;
  background-color: #063270;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.5;
   font-family: var(--font);
 
}

.container {
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
}

h1 {
  font-size: 3rem;
  line-height: var(--lineheight);
  text-transform: var(--texttrans);
  font-weight: var(--fontweight);
  margin: 0;
  color: var(--white);
  display: inline;
}

h2 {
  font-size: 2.5rem;
  line-height: var(--lineheight);
  font-weight: var(--fontweight);
  text-transform: var(--texttrans);
}

h3 {
  font-size: 1.75rem;
  line-height: var(--lineheight);
  font-weight: var(--fontweight);
}

.greenbutton {
  text-transform: var(--texttrans);
  background-color: var(--green);
  color: var(--white);
  border-radius: var(--radius);
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
}

.bluebutton {
  background-color: var(--darkblue);
  color: var(--white);
  text-transform: var(--texttrans);
  border-radius: var(--radius);
}

li a {
  text-decoration: none;
  text-transform: var(--texttrans);
  color: var(--white);
}

ul li {
  list-style-type: none;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}


header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: baseline;
}

img {
  max-width: 100%;
}

.imgtext {
  padding-bottom: 1rem;
}


.imgtext, .imgcard {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0;
}

.grid1 {
  margin-top: 2rem;
  border-top: solid var(--yellow) 5px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white);
}

@media (min-width: 650px) {
  header {
    justify-content: center;
  }
  .grid1 {
    align-content: center;
  }
}

@media (min-width: 1000px) {
    nav ul {
      justify-content: space-between;
    }
    header {
      justify-content: space-between;
      align-items: baseline;
    }
}

